global:
  logDir: gs://otar000-evidence_input/parser_logs
  cacheDir: cache_dir
  # This is a directory prefix; individual schemas relative to it are specified by each rule.
  schema: https://raw.githubusercontent.com/opentargets/json_schema/2.2.4
  EFOVersion: v3.40.0

cancerBiomarkers:
  inputBucket: gs://otar000-evidence_input/CancerBiomarkers/data_files
  outputBucket: gs://otar000-evidence_input/CancerBiomarkers/json
  drugIndex: gs://open-targets-pre-data-releases/22.04/output/etl/parquet/molecule
ChEMBL:
  evidence: gs://otar008-chembl/cttv008-08-04-2022.json.gz
  stopReasonCategories: gs://otar000-evidence_input/ChEMBL/data_files/chembl_predictions-2022-04-08.tsv
  outputBucket: gs://otar000-evidence_input/ChEMBL/json
ClinGen:
  webSource: https://search.clinicalgenome.org/kb/gene-validity/download
  inputBucket: gs://otar000-evidence_input/ClinGen/data_files
  outputBucket: gs://otar000-evidence_input/ClinGen/json
CRISPR:
  inputBucket: gs://otar000-evidence_input/CRISPR/data_files
  outputBucket: gs://otar000-evidence_input/CRISPR/json
EPMC:
  inputBucket: gs://open-targets-pre-data-releases/22.04/output/literature-etl/parquet/cooccurrences
  outputBucket: gs://otar000-evidence_input/EPMC/json
GeneBurden:
  azPhewasBinary: gs://otar000-evidence_input/GeneBurden/data_files/azphewas-com-450k-phewas-binary
  azPhewasQuantitative: gs://otar000-evidence_input/GeneBurden/data_files/azphewas-com-450k-phewas-quantitative
  azTraitMappings: gs://otar000-evidence_input/GeneBurden/data_files/AZ_Traits.xlsx
  regeneronExwas: gs://otar000-evidence_input/GeneBurden/data_files/41586_2021_4103_MOESM5_ESM.xlsx
  gwasStudies: https://www.ebi.ac.uk/gwas/api/search/downloads/studies_alternative
  curation: https://raw.githubusercontent.com/opentargets/curation/il-2604/gene_burden/curated_evidence.tsv
  inputBucket: gs://otar000-evidence_input/GeneBurden/data_files
  outputBucket: gs://otar000-evidence_input/GeneBurden/json
Gene2Phenotype:
  webSource_dd_panel: https://www.ebi.ac.uk/gene2phenotype/downloads/DDG2P.csv.gz
  webSource_eye_panel: https://www.ebi.ac.uk/gene2phenotype/downloads/EyeG2P.csv.gz
  webSource_skin_panel: https://www.ebi.ac.uk/gene2phenotype/downloads/SkinG2P.csv.gz
  webSource_cancer_panel: https://www.ebi.ac.uk/gene2phenotype/downloads/CancerG2P.csv.gz
  webSource_cardiac_panel: https://www.ebi.ac.uk/gene2phenotype/downloads/CardiacG2P.csv.gz
  inputBucket: gs://otar000-evidence_input/Gene2Phenotype/data_files
  outputBucket: gs://otar000-evidence_input/Gene2Phenotype/json
intOGen:
  inputBucket: gs://otar000-evidence_input/IntOgen/data_files
  outputBucket: gs://otar000-evidence_input/IntOgen/json
  diseaseMapping: resources/cancer2EFO_mappings.tsv
Orphanet:
  webSource: http://www.orphadata.org/data/xml/en_product6.xml
  outputBucket: gs://otar000-evidence_input/Orphanet/json
PanelApp:
  inputBucket: gs://otar000-evidence_input/GenomicsEngland/data_files
  outputBucket: gs://otar000-evidence_input/GenomicsEngland/json
IMPC:
  evidenceOutputBucket: gs://otar000-evidence_input/IMPC/json
  phenotypesOutputBucket: gs://otar001-core/MousePhenotypes
PROGENy:
  inputBucket: gs://otar000-evidence_input/PROGENy/data_files
  diseaseMapping: resources/cancer2EFO_mappings.tsv
  pathwayMapping: resources/pathway2Reactome_mappings.tsv
  outputBucket: gs://otar000-evidence_input/PROGENy/json
SLAPEnrich:
  inputBucket: gs://otar000-evidence_input/SLAPEnrich/data_file
  diseaseMapping: resources/cancer2EFO_mappings.tsv
  outputBucket: gs://otar000-evidence_input/SLAPEnrich/json
SysBio:
  inputBucket: gs://otar000-evidence_input/SysBio/data_files
  outputBucket: gs://otar000-evidence_input/SysBio/json
TEP:
  outputBucket: gs://otar001-core/TEPs
TargetSafety:
  adverseEvents: https://raw.githubusercontent.com/opentargets/curation/master/target_safety/adverse_effects.tsv
  safetyRisk: https://raw.githubusercontent.com/opentargets/curation/master/target_safety/safety_risks.tsv
  toxcast: gs://otar001-core/TargetSafety/data_files/toxcast/ToxCast_2021-08-17.tsv
  outputBucket: gs://otar001-core/TargetSafety/json
