ujson==1.35
tqdm==4.8.1

#when installing from GitHub, a specific commit must be used for consistency
#and to ensure dependency caching works as intended
git+https://github.com/opentargets/data_model.git@1.2.8#egg=data-model

#when installing from GitHub, a specific commit must be used for consistency
#and to ensure dependency caching works as intended
git+https://github.com/opentargets/ontology-utils.git@bff0f189a4c6e8613e99a5d47e9ad4ceb6a375fc#egg=ontologyutils

#undocumented transitive requirement of ontoma
pathlib
ontoma
requests
urllib3
iso8601
rdflib
pysftp
SPARQLWrapper>=1.7.6
pytest
python_jsonschema_objects
pipdeptree
